* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #890ca5;
	background-size: 400% 400%;
    
  }

  .enableBlur>* {
    filter: blur(10px);
  }

  .disableBlur {
    filter: blur(0);
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    display: flex;
    flex-wrap: wrap;
    opacity: 100%;
  }
  
  .Title {
    background-color: #000;
    width: 300px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px 0 0 0 ;
  }

  .Title .personalInfos {
    width:fit-content;
    height:fit-content;
    padding-bottom: 20px;
  }

  .Title .personalInfos img {
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid #ffffff;
    width: 50px;
    height: 50px;
  }

  .Title .personalInfos label {
    display: inline-block;
    height: fit-content;
    margin-top: 30px;
    margin-left: 30px;
    color: #ffffff;
    margin-left: 5px;
    vertical-align: top;
  }


  .MyArea {
    border: 1px solid white;
    height: 395px;
    background-color: #270530;
    opacity: 90%;
  }


  .MyArea h4{
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  .MyArea h4 span{
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
  }

  .MyArea h4 span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .MyArea h4:hover span a {
    color: #ff28d8;
  }


  .MyArea h4:hover,
  .MyArea h4:hover span .fa,
  .MyArea h4:hover .My-application {
    color: #ff28d8;
    background-color: #000000;
    cursor: pointer;
  }
  
  .MyArea .bar {
    margin: 10px 50px 0 50px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.479);
    height: 1px;
  }
  
  
  .Display {
    flex-grow: 1;
    height: 500px;
    background-color: #000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 8px 0 0 ;
  }

  .Display .headerDisplay {
    width: 100%;
    position: relative;
  }

  .Display .headerDisplay .logout {
    width: 70px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(245, 219, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
  }

  .Display .headerDisplay .logout:hover {
    background-color: #b6143c;
  }


  .Display .headerDisplay .logout #log_out{
    line-height: 10px;
    text-decoration: none;
    color: #fa2c5f;
  }
 
  

  .Display .headerDisplay .search-area {
    position: absolute;
    width: 350px;
    height: 30px;
    top: 30px;
    left: 100px;
    padding: 4px;
    border: 1px solid #2c0263;
    background-color: #9111db;
    border-radius: 8px;
    overflow: visible;
  }

  .Display .headerDisplay .search-area:hover {
    border: 1px solid #e8c1ff;
  }

  .Display .headerDisplay .search-area span {
    background-color: #000000;
    border-radius: 8px;
    padding: 1px;
  }

  .Display .headerDisplay .search-area span .fa-search {
    color: #ffffff;
    padding: 1px;   
    
  }

  .Display .headerDisplay .search-area input {
    color: #fff;
    width: 93%;
    height: 100%;
    background-color: #9111db;
    border: none;
    border-radius: 0px 8px 8px 0px;
    
  }

 

  .Display .headerDisplay .search-area input::placeholder {
    color: #ffffff;
  }

  .Display .headerDisplay .search-area input:focus {
    outline: none;
  }

  .carousel {
    margin-top: 105px;
    border: 1px solid rgb(116, 114, 114);
    height: 395px;
    position: relative;
    overflow: hidden;
  }

  .carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: 0;
  }


  .carousel .list-images {
    background-size: cover;
    margin: 40px auto;
    width: 500px;
    height: 250px;
    position: relative;
  }

  .carousel .list-images:hover {
    filter:contrast(120%);
  }


  .carousel .list-images img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: opacity 3s ease-in-out;
  }

  

  .carousel .list-images img.active {
    opacity: 1;
  }

  .carousel .list-images .btn {
    display: none;
  }

  .carousel .list-images .btn button {
    background: none;
    border: none;
  }

  .carousel .list-images .btn button i {
    font-size: 20px;
    background-color: rgb(167, 167, 167);
    border-radius: 16px;
    padding: 8px;
    opacity: 50%;
  }

  .carousel .list-images .btn button i:hover {
    font-size: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 16px;
    padding: 8px;
    opacity: 50%;
  }

  .carousel .list-images:hover .btn {
    position: absolute;
    top: -70px;
    left: 10px;
    width: 470px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 70%;
  }

  .carousel .list-images img {
    object-fit: cover;
  }
  
  .carousel .list-images .songInfos {
    margin-top: 20px;
    z-index: 3;
    width: 100%;
    font-size: 20px;
    left: 100px;
  }

  .carousel .list-images .songInfos div {
    margin-top: 10px;
  }

  .carousel .list-images .songInfos label {
    color: rgb(252, 214, 245);

  }

  .musicplay {
    width: 100%;
    height: 105px;
    background-color: #000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 0 8px 8px ;
  }

  .musicplay .song-container {
    position: relative;
  }

  .musicplay .imgMusic {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 50px;
  }

  .musicplay .imgMusic i:hover,
  .musicplay .imgMusic img:hover {
    filter: blur(1px);
  }

  .musicplay .imgMusic img {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .musicplay .imgMusic i {
    position: absolute;
    font-size: 30px;
    top: 15px;
    left: 18px;
    color: #fff;
    cursor: pointer;
    opacity: 90%;
  }
  
  .musicplay .song-info {
    margin-left: 120px;
    margin-top: -45px;
    width: 180px;
    height: 60px;
    font-family: 'poppins', sans-serif;

  }

  .musicplay .song-info .song-title {
    color: #ae57ff;
    font-size: 20px;
    width: 180px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }

  .musicplay .song-info .song-title h4{
    font-size: 14px;
     margin: 0;
     padding: 0;
    animation: slide-left 7s linear infinite;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds ellipsis to indicate overflow */
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .musicplay .song-info .song-author {
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
  }

  .musicplay .song-info .song-action {
    color: #fcfcfc;
    position: relative;
    top: -2px;
    left: 220px;
    cursor: pointer;

  }

  

  .musicplay .song-info .song-action.active {
    color: #ae00ff;
  }

  .musicplay .song-info .song-action:hover {
    color: #ae00ff;
  }

  .musicplay .song-container .audio-controls {
    height: 30px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 650px;
  }

  .musicplay .song-container .audio-controls .fa-play-circle {
    position: relative;
    font-size: 25px;
    top: 2px;
  }

  .musicplay .song-container .audio-controls i {
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .musicplay .song-container .audio-controls i:hover {
    color: #7c009b;
  }

  .musicplay .song-container .track {
    margin-top: -30px;
    margin-left: 550px;
    width: 600px;
    height: 40px;
    align-items: center;   
    display: flex;
    
  }

  .musicplay .song-container .track #time {
    width: 20px;
    padding: 1;
    display: inline;
    color: #cb2bfc;
    margin-left: -170px;
  }

  .musicplay .song-container .track #total-time {
    width: 20px;
    padding: 1;
    display: inline;
    color: #cb2bfc;
  }


  .musicplay .song-container .track #waveform {
    width: 100%;
    margin-left: 40px;
  }

  .musicplay .song-container .volume-controls {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20px;
    top: 57px;
    left: 1100px;
  }

  .musicplay .song-container .volume-controls i {
    color: #ae57ff;
    position: relative;
    top: 3px;
    cursor: pointer;
    width: 20px;
  }

  

  .musicplay .song-container .volume-controls input {
    display: none;
  }

  .musicplay .song-container .volume-controls .fa-volume-up:hover {
    color: #740194;
  }

  .musicplay .song-container .volume-controls:hover input {
  display: inline-block;
  -webkit-appearance: none;
  position: absolute;
  width: 90px;
  height: 10px;
  top: -50px;
  left: -40px;
  opacity: 0.7;
  border-radius: 4px;
  outline: none;
  border: 1px solid #8100a1; 
  background-color: #353535;
  -webkit-transition: linear-gradient(90deg,rgb(78, 78, 78),rgb(156, 156, 156));
  transform: rotate(270deg);
  cursor: grab;
}

.musicplay .song-container .volume-controls:hover input:hover {
  opacity: 1;
}

.musicplay .song-container .volume-controls:hover input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #390047;
  cursor: grabbing;
  position: relative;
}

.musicplay .song-container .download-controls {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 1180px;
}

.musicplay .song-container .download-controls .fa-download {
  color: #fff;
  cursor: pointer;
}

.musicplay .song-container .download-controls .fa-download:hover {
  color: #830094;
}

.musicplay .song-container .download-controls .fa-download #downloadBtn {
  cursor: pointer;
  position: absolute;
  opacity: 0.1;
  width: 20px;
  height: 20px;
  left: 1px;
  right: 5px;
}

#custom-dialog {
  color: #fff;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 5, 60);
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  z-index: 9999;
  border-radius: 8px;
}

#custom-dialog h2 {
  margin-top: 0;
}

#custom-dialog button {
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
}

#custom-dialog button:hover {
  background-color: rgb(147, 0, 177);
  color: white;
}







  



