
.container1 {
    position: absolute;
    display: inline-block;
    height: 395px;
    width: 100%;
    background-color: rgb(55, 0, 71);
    overflow: auto;    
}

.container1::-webkit-scrollbar {
    height: 100%;
    width: auto;
}

.container1::-webkit-scrollbar-track {
    background-color: #1b0329;
    border-left: 1px solid #f1f1f1;
}

.container1::-webkit-scrollbar-thumb {
    background-color: #df9aff;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
  }

.container1 .popular-song {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    background-color: #1b0329;
    padding: 16px;
    border-radius: 8px;
}

.container1 .popular-song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container1 .popular-song .h4 h4 {
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    color: #fff;
}

.container1 .popular-song .h4 .fa {
    margin-right: 16px;
    font-size: 30px;
    color: blueviolet;
    cursor: pointer;
    transition: .3s linear;
}

.container1 .popular-song .h4 .fa:hover {
    color: rgb(170, 78, 255);
}

.container1  .popular-song .pop-song {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.container1 .popular-song .pop-song::-webkit-scrollbar {
    display: none;
}

.container1  .popular-song .pop-song li {
    height: 200px;
    min-width: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

.container1  .popular-song .pop-song li:hover {
    background-color: rgb(114, 112, 112);
    border-radius: 8px 8px 8px 8px;
}

.container1  .popular-song .pop-song li .img_play {
    position: relative;
    min-width: 140px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container1  .popular-song .pop-song li .img_play img {
    width: 100%;
    height: 100%;
    transition: .3s linear;

}
.container1  .popular-song .pop-song li:hover .img_play img {
    border-radius: 8px 8px 0px 0px;
    filter: brightness(70%);
}

.container1  .popular-song .pop-song li .img_play .fa {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: .3s linear;
    color: azure;
    opacity: 0;
}

.container1  .popular-song .pop-song li .img_play:hover .fa {
    opacity: 1;
}

.container1 .popular-song .pop-song li h5  {
    margin: 0;
    padding: 5px 0px 0px 5px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.container1  .popular-song .pop-song li h5 .subtitle {
    font-size: 12px;
    color: rgb(179, 179, 179);
}

.container1  .popular-song .under {
    width: auto;
    height: 20px;
    margin-top: 10px;
}

.container1  .popular-artist {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    background-color: #1b0329;
    padding: 16px;
    border-radius: 8px;
}

.container1  .popular-artist .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container1 .popular-artist .h4 h4 {
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    color: #fff;
}

.container1  .popular-artist .h4 .fa {
    margin-right: 16px;
    font-size: 30px;
    color: blueviolet;
    cursor: pointer;
    transition: .3s linear;
}

.container1  .popular-artist .h4 .fa:hover {
    color: rgb(170, 78, 255);
}

.container1  .popular-artist .item {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.container1  .popular-artist .item::-webkit-scrollbar {
    display: none;
}

.container1  .popular-artist .item li {
    list-style-type: none;
    position: relative;
    min-width: 90px;
    height: 90px;
    background-color: #fff;
    border: 2px solid #df9aff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.container1  .popular-artist .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transition: .3s linear;
}

.container1  .popular-artist .item li:hover img {
    filter: brightness(60%);
}